*{
  margin:5px;
  padding:0;
}
body{
  background-image:url(flashcard.png);
  background-repeat:no-repeat;
  background-size:cover;
}

li {
  
  display: inline;

}

div{

  height:50px;
  background-color:black;
}

a{
  text-decoration:none;
}
a:visited{
  color:blue;
}
a:hover{
  color:red;
}
a:active{
  color:green;
}