<!DOCTYPE html>
<html>
<head>
  <title>Add Card</title>
  <link rel='stylesheet' href='/static/add_card.css' type='text/css'>
</head>
<body>
  <h1> Add New Card in deck {{deck.Deck_name}} <h1>  
  <form action='/deck/{{deck.id}}/add_card' method='POST'>
      <div>
        <label> Front: </label>
        <input type='text' name='front' required/></br></br>
        <label> Back: </label>
        <input type='text' name='back' required/></br></br>
        <input type='submit' value='submit'>
      </div>
  </form>

</body>
</html>