<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link href='static/signup.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <form action='/sign_up' method='POST'>
  <div>
    <label> Username: </label>
    <input type='text' name='username' required/>
 </div>
 <div>
    <label> Password: </label>
    <input type='password' name='password' required/>
 </div>
 <div>
    <input type='submit' value='Sign up'>
 </div>
  </form>
  <h3>  Have an account ? <a href='/login'>login </a> </h3>
 
</body>
</html>